<div class="home-admin-container">
    <div class="left-container">
        <div class="d-flex justify-content-center mt-0 pb">
            <button type="button" class="button-style" (click)="goToAppointmentsByClient()">By client</button>
        </div>
        <div class="d-flex justify-content-center mt-0 pb">
            <button type="button" class="button-style" (click)="goToAppointmentsByDate()">By date</button>
        </div>
        <div class="d-flex justify-content-center mt-0 pb">
            <button type="button" class="button-style" (click)="goToAppointmentsByDates()">By dates</button>
        </div>
    </div>
    <div class ="right-container">
    </div>
</div>
