.back-container{
    background-color: #f7f4f2;
    width: 100%;
    height: 125vh;
}

.container{
    display:flex;      
    justify-content: center;
    padding-top: 40px;
    font-family: SourceSansPro-Bold;
}
.input-container{
    font-size: 13px;
    justify-content: center;
}

.button-submit:hover {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

.button-submit{
    color: rgb(50, 56, 20);
    width: 100px;
    height: 30px;
    font-size: 20px;
    background: #cd8c90;
    border: rgb(231, 128, 180);
    border-radius: 5px;
    outline:none;
}

.button-container{
    padding-left: 30px;
    padding-top: 12px;
}
.table-container{
    display: flex;
    justify-content: center;
}

table {
    width: 25%;
    font-family: SourceSansPro-Bold;
}