<div class="home-admin-container">
    <div class="left-container">
        <div class="d-flex justify-content-center mt-0 pb">
            <button type="button" class="button-style" (click)="goToServiceList()">Services</button>
        </div>
        <div class="d-flex justify-content-center mt-0 pb">
            <button type="button" class="button-style" (click)="goToAccountDetails()">Account details</button>
        </div>
        <div class="d-flex justify-content-center mt-0 pb">
            <button type="button" class="button-style" (click)="goToAccountList()">Accounts</button>
        </div>
    </div>
    <div class ="right-container">
    </div>
</div>
