<div class="service-container">
    <div class="service-box pt">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let service of services;let i=index">
            <td>
              <input [(ngModel)]="service.name" (change)="updateName(service)"/>
            </td>
            <td>
              <input [(ngModel)]="service.price" (change)="updatePrice(service)"/> 
            </td>
            <td>
              <input [(ngModel)]="service.duration" (change)="updateDuration(service)"/> 
            </td>
            <td>
              <span (click)="deleteService(service,i)">
                <span class="material-icons pl-3 md-20">cancel</span>
            </span>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="button-container" >
        <button type="button" class="button-add btn-lg btn-block" (click)="goToAddService()">Add service</button>
      </div>
  </div>
</div>
