<div class="card my-5">
    <div class="card-body center-container pt">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let service of services;let i=index">
            <td>{{ service.id }}</td>
            <td>
              <input [(ngModel)]="service.name" (change)="updateName(service)"/>
            </td>
            <td>
              <input [(ngModel)]="service.price" (change)="updatePrice(service)"/> 
            </td>
            <td>
              <input [(ngModel)]="service.duration" (change)="updateDuration(service)"/> 
            </td>
            <td>
              <button type="button" class="btn btn-info" (click)="deleteService(service,i)">Delete service</button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
<div class="center-container pt" >
  <button type="button" class="btn btn-info" (click)="goToAddService()">Add service</button>
</div>